mixin c101()
  p.modal-body__problem.modal-body--header The Problem
  p.modal-body--alt We started off in education wanting to build a tool that would allow teachers to 
    span.modal-body--highlight build personal relationships 
    | across large classrooms. 6-8 months down the line faced with monetisation challenges. We understood the same problem applies across 
    span.modal-body--highlight fast paced companies 
    | where managers don't get enough time to interact with their team through 
    span.modal-body--highlight periods of rapid change.
  p.modal-body__problem.modal-body--header Designing the solution
  p.modal-body--alt Some of the peripheral observations we made even before code was written was that teachers/managers in fast paced companies were already battling against
    span.modal-body--highlight a severe limitation of time.
    | They were averse to having to spend a lot of time to get used to a new platform or technology. Hence we had to build something that had
    span.modal-body--highlight easy of use
    | baked into it.It also meant that the solution we'd end building would need to
    span.modal-body--highlight leverage off of the existing tools 
    | that teachers and managers were used to.