mixin c101()
  p.modal-body__problem.modal-body--header The Problem
  p.modal-body--alt We started off in education wanting to build a tool that would allow teachers to 
    span.modal-body--highlight build personal relationships 
    | across large classrooms. 6-8 months down the line faced with monetisation challenges. We understood the same problem applies across 
    span.modal-body--highlight fast paced companies 
    | where managers don't get enough time to interact with their team through 
    span.modal-body--highlight periods of rapid change.
  p.modal-body__problem.modal-body--header Designing the solution
  p.modal-body--alt Some of the peripheral observations we made even before code was written was that teachers/managers in fast paced companies were already battling against
    span.modal-body--highlight a severe limitation of time.
    | They were averse to having to spend a lot of time to get used to a new platform or technology. Hence we had to build something that had
    span.modal-body--highlight easy of use
    |  baked into it.It also meant that the solution we'd end building would need to
    span.modal-body--highlight leverage off of the existing tools 
    | that teachers and managers were used to.
  p.modal-body__problem.modal-body--header The solution
  p.modal-body--alt 
    | The solution leveraged off of learnings from the 
    span.modal-body--highlight successful traits of agile teams. 
    | The did regular check-ins amongst the team which meant that everyone was on the same page.
    | We built a 
    span.modal-body--highlight micro survey tool 
    | that allowed teachers/managers to check-in with their teams at 
    span.modal-body--highlight any desired frequency 
    | and ask them questions that were designed to their preference.
    | The tool would then crawl through the responses received to 
    span.modal-body--highlight identify overall sentiment,uncover insights and suggest possible actions
    | that the teacher or manager could then adopt. Allowing them to then have 
    span.modal-body--highlight meaningful conversations 
    | with their students or team members.
  p.modal-body__problem.modal-body--header Role / Technology Stack
  p.modal-body--alt 
    a(href="http://www.checkin101.com" target="_blank") Website
    br
    | I co founded the startup that was birthed from the problem we had identified. My role spanned across product development and design.It expanded to hiring our first engineers as well, however due to the lean nature of our team I was pretty much hands on with code as well.
    ul.tags
      .tag.tag__choice
        label(for="tag") NodeJS
      .tag.tag__choice
        label(for="tag") AngularJS
      .tag.tag__choice
        label(for="tag") SailsJS
      .tag.tag__choice
        label(for="tag") Phonegap
      .tag.tag__choice
        label(for="tag") AWS