mixin justly()
  p.modal-body__problem.modal-body--header The Problem
  p.modal-body--alt Getting a lawyer to draft your will and other legal documents was an extremely expensive process. This resulted in fewer than 32%(in 2015) of NZ population having a will. This is what Justly set out to solve.
  p.modal-body__problem.modal-body--header Designing the solution
  p.modal-body--alt I joined the team when they were part of the lightning lab accelerator cohort in 2015. Most of the solution had been designed and the founders were subject matter experts in the area as well. 
  p.modal-body__problem.modal-body--header The solution
  p.modal-body--alt 
    | The solution was a platform for consumers to create their own legal documents either aided by existing templates or pre defined building blocks to get you started. Once you had created a legal document, legal expertise was made avaialble to legitimse the document.
  p.modal-body__problem.modal-body--header Role / Technology Stack
  p.modal-body--alt 
    | I served as a generic part of a 4 member team. Though what I was predominantly focused on was building the platform, while closely interacting with the CTO and refactoring the existing codebase in the process.
    ul.tags
      .tag.tag__choice
        label(for="tag") Jquery
      .tag.tag__choice
        label(for="tag") PHP
      .tag.tag__choice
        label(for="tag") Azure