mixin kindness()
  p.modal-body__problem.modal-body--header The Problem
  p.modal-body--alt Being part of the Hashtag Happy community in Auckland, I struggled to practise gratitude as part of my daily routine. On interaction with other members, I realised that it was a common problem that would affect people as they got bogged down by life.
  p.modal-body__problem.modal-body--header Designing the solution
  p.modal-body--alt I set out to leverage technology to serve as a prompt/reminder to be kind. Sourcing numerous ways to be grateful daily basis from the people part of the community else where I compiled a list. 
  p.modal-body__problem.modal-body--header The solution
  p.modal-body--alt 
    | The kindness generator would suggest a new way to be kind or grateful to someone and served as the prompt that people needed. Once someone did the task that was suggested, they had the option to tweet it, to spread the word. 
  p.modal-body__problem.modal-body--header Role / Technology Stack
  p.modal-body--alt 
    a(href="kindnessgenerator.herokuapp.com" target="_blank") Website
    | I built it as a fun side project so the stack itself was extremely lean.
    ul.tags
      .tag.tag__choice
        label(for="tag") Jquery
      .tag.tag__choice
        label(for="tag") Heroku