mixin sep()
  p.modal-body__problem.modal-body--header The Problem
  p.modal-body--alt It was extremely hard for student photographers or even amateur photographers to find opportunties to excercise their skill, gain real world experience and get paid for doing it. 
  p.modal-body__problem.modal-body--header The solution
  p.modal-body--alt 
    | It was a two sided marketplace, where you could either sign up as photographer to become part of the network or as a consumer to book photographers for your events. We would source the customers through ad campaigns and would connect the leads to available photographers. Once a request for a photographer came in we'd put word out to the photographer and link the available photographer to the customer.
  p.modal-body__problem.modal-body--header Role / Technology Stack
  p.modal-body--alt 
    | I built it as a fun side project along with a friend. During the four months we ran it, we grew the community to upto 10 photographers and photographed close to 24 events. A key learning was around running ad campaigns and understanding how to market the platform.
    ul.tags
      .tag.tag__choice
        label(for="tag") Wix CMS
      .tag.tag__choice
        label(for="tag") AdWord