mixin smp()
  p.modal-body__problem.modal-body--header The Problem
  p.modal-body--alt Support my project is a 
    a(href="https://www.yicollective.org/" target="_blank") young innovators collective
    |  project. The founder noticed an inherent lack of platforms for youth projects to help grow their support network and find supporters and contributors. Having worked closely with YIC and being a part of the community I became aware and understood the problem at a much deeper level. 
  p.modal-body__problem.modal-body--header Designing the solution
  p.modal-body--alt During the course of interacting with YIC and the larger community, it became clear that project creators needed a space to put out
    span.modal-body--highlight regular updates, wants/needs/challenges they had.
    |  They also faced a challenge with 
    span.modal-body--highlight regard to discovery, 
    | and a roadblock to get the word about the project out to people. On the flipside University and high school students were seeking for new ways to get involved in up and coming youth projects. This cemented the need for a platform like support my project.
  p.modal-body__problem.modal-body--header The solution
  p.modal-body--alt 
    | The solution itself 
    span.modal-body--highlight emulated the mechanics of setting up a kickstarter project.
    |  Each project would have a project page, which could be customised with the media pertaining to the project. University/ high school students could then 
    span.modal-body--highlight subscribe to the projects of their choice. 
    | Through the 
    span.modal-body--highlight updates section, 
    | project creators could push out updates/challenges which would then alert the subscribers to get involed with and help the projects out.
  p.modal-body__problem.modal-body--header Role / Technology Stack
  p.modal-body--alt 
    a(href="https://sleepy-woodland-19821.herokuapp.com/" target="_blank") Website
    br
    | I served as the person building the tool, regularly interacting with the community and the founder to ensure that everyone was on the same page.
    ul.tags
      .tag.tag__choice
        label(for="tag") NodeJS
      .tag.tag__choice
        label(for="tag") AngularJS
      .tag.tag__choice
        label(for="tag") AWS